/* MOBILE ONLY  */

@media (max-width: 920px) {
  .main-layout {
    max-width: 800px;
    margin: 0 auto;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: rgb(255 255 255 / 90%);
    height: 100vh;
    min-width: 220px;
    border-left: solid 1px rgb(253, 204, 112);
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
    display: block;
  }
  .main-nav {
    display: block;
    position: absolute;

    /* padding: 10px; */
    top: 6rem;
    right: 0;
    flex-direction: column;
    background-color: rgba(167, 163, 163, 0.9);
    height: 50vh;
    /* width: 20vh; */
    width: 50vh;

    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
    align-items: center;
  }
  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    align-items: center;
    text-align: center;
  }
  .main-header .main-nav a {
    display: block;
    /* padding: 2rem; */
    transition: background-color 0.3s;
    color: aliceblue;
    text-transform: uppercase;
    /* margin-top: 2rem; */
    border: 2px solid rgb(179, 149, 54);
    background-color: grey;
    list-style-type: none;
    margin: 5px;
  }
  .main-header .main-nav a:hover {
    background-color: rgb(255, 157, 0);
  }
  .main-header .main-nav li {
    border-bottom: solid 1px rgb(202, 160, 91);
    margin: 0px;
  }

  header .btn-menu {
    display: block;
  }
  .editor-tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0px;
    margin: 20px;
    padding: 20px;
    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr; */
  }
  .inputs .btn {
    right: 0px;
  }
  .switch {
    right: 0px;
    position: absolute;
  }
}

/* SMALL */

@media (max-width: 660px) {
  .main-layout {
    /* min-width: 600px; */
    margin: 0 auto;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .editor {
    /* display: flex; */
    position: relative;
    /* flex-wrap: wrap; */
  }
  .editor-div {
    flex-direction: column;
  }
  .editor-tools {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr; */
  }
  .canvas-container {
    margin-top: 50px;
  }
  canvas {
    height: 300px;
    width: 300px;
  }

  .inputs .btn {
    padding: 3px;
    right: 0px;
  }
  header .btn-menu {
    display: block;
  }
  .switch {
    display: flex;
    right: px;
  }
  div .colors {
    display: block;
  }
}
/* MEDIUM */

@media (min-width: 920px) {
  .main-layout {
    /* max-width: 860px; */
    margin: 0 auto;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .canvas-container {
    display: flex;
    flex-wrap: wrap;
  }
  .btn-menu {
    display: block;
  }
}
/* }

/* LARGE */

@media (max-width: 1120px) {
  .main-layout {
    max-width: 1060px;
  }
  /* .btn-menu {
    display: block;
  } */
  /* canvas {
    height: 450px;
    width: 450px;
  } */
  .btn-modal {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .main-layout {
    /* max-width: 400px; */
    margin: 0 auto;
  }
  .btn-menu {
    display: none;
  }
  .editor {
    position: relative;
  }
  .flexible {
    padding: 0px;
  }
  /* canvas {
    height: 150px;
    width: 150px;
  } */
  /* .editor-div {
    flex-direction: column;
  } */

  /* .editor-tools {
    display: inline-block;
    flex-direction: row;
    margin: 0px;
  } */
  /* footer {
    bottom: 0px;
  } */
}
