.editor {
  margin-top: 40px;

  flex-flow: column;
  justify-content: flex-start;

  background-color: gray;

  padding: 40px;
  /* z-index: 10; */
  display: none;
}

.editor-tools {
  /* max-width: min-content; */
  margin-top: 10px;

  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 1px;
  align-items: flex-end;
  /* flex-basis: content;
  right: 0px;
  padding: 0px;
 
  padding-left: 2px; */
}

input[type="color"] {
  grid-row: 1;
  /* grid-column: 1; */
  margin-bottom: 0px;

  -webkit-appearance: none;
  border: 0ch;
  gap: 1px;
  margin-top: 5px;
}

.editor button:hover {
  background-color: rgb(221, 192, 139);
}

.canvas-container {
  margin-right: 0px;
  max-width: 450px;
  margin: auto;
}

input[type="text"] {
  grid-row: 1;
  grid-column: 4 / span 5;
  /* margin: auto; */
  /* margin: auto; */
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.switch {
  grid-row: 4;
  grid-column: 5;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  /* bottom: 0px;  */
  /* margin-bottom: 0px; */
  align-self: center;
}
.inputs {
  grid-row: 5;
}
.inputs .btn {
  padding: 10px;
}

.close {
  grid-row: 5;
  grid-column: 5;
  align-self: center;
  margin: 5px;
}

.fa .fa-facebook {
  background-color: blue;
}
