.main-header {
  background-color: rgb(235, 134, 2);
  color: #ffff;
  box-shadow: inset 0px -6px 0 #141414;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-header nav ul {
  height: 100%;
  padding-inline-start: 0;
  /* border: 2px solid black; */
}
.main-header .logo {
  font-family: architects;
  left: 0px;

  margin-right: 100px;
  align-items: center;
}
.main-header .main-nav li {
  border-inline-end: 1px solid black;
}

.main-header .main-nav li:first-child {
  border-inline-start: 1px solid black;
}

.main-header .main-nav a {
  display: flex;
  height: 130px;
  width: 100px;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}

.main-header .main-nav a:hover {
  color: rgb(221, 218, 21);
}

.main-header .main-nav a:hover {
  box-shadow: inset 0px -6px 0;
}

.main-header a {
  color: #ffff;
}

.main-header a.active {
  box-shadow: inset 0px -6px 0;
  color: rgb(134, 122, 86);
}
header .btn-menu {
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 50px;
  background-clip: padding-box;
  font-size: 1.5rem;
  background-color: #ffffff;
  align-items: center;
  align-self: center;
  display: none;
  border-radius: 0.25rem;
  color: rgb(241, 129, 0);
  min-height: 3rem;
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  padding: auto;
  position: relative;
  margin-bottom: 5px;
}

.btn-menu.hide {
  display: none;
}

/* .btn-editor {
  align-items: center;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
} */
