.sec-nav {
  background-color: rgb(233, 141, 20);
  color: #ffff;
  box-shadow: inset 0px -6px 0 #141414;
}

input[list] {
  /* left: 0px; */
  margin-bottom: 8px;
  margin-left: 5px;
  height: 20px;
  max-width: 500px;
  /* background: #d2e9ff; */
  padding: 15px 15px 15px 15px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
}

.sec-nav {
  height: 100%;
}
