@font-face {
  font-family: architects;
  src: url(/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@font-face {
  font-family: asap;
  src: url(/fonts/Asap/Asap-Italic-VariableFont_wght.ttf);
}
